<!-- interpolation -->
<p>
  {{ message }}
</p>

<p>Name: {{ student.name }} - Age: {{ student.age }}</p>

<!-- Property binding -->
<input [value]="message" [disabled]="!isActive" />

<!-- Event binding -->
<button (click)="changeMessage()">Click</button>

<br />
<br />

<!-- Để nhận được đối tượng envet của 1 sự kiện bắt buộc
phải truyền vào $event -->
<p>{{ userName }}</p>
<!-- change = obBlur bên react -->
<input [value]="userName" (change)="changeUserName($event)" />
<!-- input = onChange bên react -->
<input [value]="userName" (input)="changeUserName($event)" />

<br />
<br />

<p>{{ email }}</p>
<input [value]="email" id="email" #emailRef />
<button (click)="changeEmail(emailRef)">Change email</button>

<!-- Two-way binding -->
<p>{{ address }}</p>
<!-- <input [value]="address" (input)="changeAddress($event)"> -->
<input [(ngModel)]="address" />

<p>{{ district }}</p>
<select [ngModel]="district">
  <option value="">---</option>
  <option value="Hồ chí minh">Hồ chí minh</option>
  <option value="Hà Nội">Hà Nội</option>
  <option value="Đà nẵng">Đà nẵng</option>
</select>
