<!-- <header>
  <app-header></app-header>
</header>
<section class="d-flex">
  <app-content class="w-75"></app-content>
  <app-sidebar class="w-25"></app-sidebar>
</section>
<footer>
  <app-footer></app-footer>
</footer> -->
<!-- <app-baitap1></app-baitap1> -->
<!-- <app-baitap2></app-baitap2> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-card>
  <p slot="header" id="header">Thông tin sinh viên</p>

  <div slot="body" class="body">
    <h1>Hung Tran</h1>
    <p>Lop: FE53</p>
  </div>
  <button slot="footer" class="footer btn btn-success">Chi tiet</button>
</app-card>

<app-card>
  <div class="body">
    <h1>Hai Ngo</h1>
    <p>Lop: FE53</p>
  </div>
</app-card> -->

<!-- Demo custom-directives -->
<!-- <div appHighlight>Demo hight light derectives</div> -->
<app-interaction></app-interaction>
